<p id="notice"><%= notice %></p>

<p>
  <strong>Parcel number:</strong>
  <%= @lead.parcel_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @lead.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @lead.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @lead.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @lead.zip_code %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lead.status %>
</p>

<p>
  <strong>Lead type:</strong>
  <%= @lead.lead_type %>
</p>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
